* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

h2{ 
    margin-bottom: 10px;
}

#detail {

    max-width: fit-content;
    min-width: 450px;
    padding: 50px;
    padding-bottom: 35px;

    border: 1px solid white;
    border-radius: 20px;

    backdrop-filter: blur(10px);

    color: black;
    text-shadow: 2px 0px 5px rgb(61, 61, 60);
    box-shadow: 3px 3px 15px rgb(125, 123, 123);

}

.main{
    display: flex;
    align-items: center;
}

.main #right{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.main #left{
    width: 20%;
    height: 699px;

    backdrop-filter: blur(10px);
}

#transfer{
        color: aliceblue;
        text-decoration: none;
        margin-bottom: 10px;
}

.special{
    margin-top: 4px;
    margin-bottom: 4px;
}