.special{
    border: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    color:black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


.special{
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration-line: none;
    color: #000;
}

.bttn {
    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: aqua;
}

.bttn:hover {
    color: aliceblue;
    border: 2px solid rgba(255, 255, 255, .3);
    background: transparent;
    text-decoration: underline;
}
