#main {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 20px;

    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid white;
}

#h1 {
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px)
}

#main table {

    width: 100%;
    font-size: 20px;
    position: relative;
    float: left;
    border: 2px solid white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}