.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.main .container {
    width: 425px;
    backdrop-filter: blur(10px);
    text-align: center;

    box-shadow: -3px 3px 4px;
    padding: 20px 10px;
    border: 1px solid wheat;
    border-radius: 15px;
}

.container h1 {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 20px;

}

h2::selection {
    /* color: aqua; */
    background-color: green;
}

form label {
    font-size: 17px;

}

.container .input {
    width: 100%;
    height: 45px;
    background: transparent;
    margin-bottom: 20px;
    border-radius: 30px;
}

.container input {

    width: 100%;
    height: 100%;

    color: white;
    font-size: 17px;
    text-align: center;


    outline: none;
    border-radius: 30px;
    background: transparent;

    border: 1px solid wheat;
    padding-left: 25px;

}

.btn {

    border: none;
    outline: none;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 600;
    background-color: aqua;
    cursor: pointer;
    box-shadow: 1px 1px 2px blue;

}

.btn:hover {

    background: transparent;
    border: 2px solid white;
    color: aliceblue;
    text-decoration: underline;

}

form .h3 {
    padding: 10px;
}