{% extends 'Nav.html'%}
{% load static %}
{% block start %}

<link rel="stylesheet" href="{% static 'login/account.css' %}">

{% if user.is_authenticated %}
<div class="main">
    <div id="right">
        <div id="detail">
            <h1>Detail</h1>
            <br>
            <hr>
            <br>
            <h2>Account No. : {{user}}</h2>
            <h2>Holder Name : {{user.first_name}}</h2>
            <h2>Mobile No. : {{detail.Mobile_no}}</h2>
            {% if detail.status %}
            <h2>Status : Active Account</h2>
            {% else %}
            <h2>Status : Account Closed</h2>
            {% endif %}
            <hr>
            <div class="special">
                To Transfer Money:
                <a href="{% url 'LoginApp:transfer' %}" id="transfer">Transfer</a>
            </div>
            <div class="special">
                To View Your Statement:
                <a href="{% url 'LoginApp:statement' %}?t=True" id="transfer">Statement</a>
            </div>
   
        </div>
    
    </div>
{% endif %}
    <div id="left">
        <div id="user" style="display: none;" >{{user}}</div>
       
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        fetch('statement/')
        .then(response => response.json())
        .then(statements => {
            console.log("data",statements)
            let count = 1
            statements.forEach(Element => {
                const Div = document.createElement('div')
                Div.classList.add('statement')
                Div.innerHTML = `<strong>
                    ${count} ${Element.detail}<br>
                    Cash Before Transaction: ${Element.balance}<br>
                    Amount: ${Element.cash}
                </strong>
                `;
                Div.style.border = '1px solid white'
                Div.style.borderRadius = '10px'
                Div.style.padding = '5px'
                Div.style.marginBottom = '2px'
                document.querySelector("#left").appendChild(Div)
                count ++
            });
        })
    })
</script>

{% endblock %}