{% extends 'Nav.html'%}
{% block start %}
{% load static %}

<link rel="stylesheet" href="{% static 'login/Login.css' %}">

<script src="login/Login.js"></script>
<div class="main">
    <div class="Container">
        <form method="post" action="{% url 'LoginApp:login' %}">
            {% csrf_token %}

            <h1>Login</h1>
            <div class="input">
                <input type="number" required placeholder="Account no" name="Account_no" autofocus>
                <span class="user-icon">&#128100; </span>
            </div>

            <div class="input">
                <input type="password" required placeholder="password" name="password" autofocus>
            </div>

            <div class="Forgot">
                <label><input type="checkbox">Remember Me</label>
                <a href="" class="link">Forgot Account no</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register">
                Don't have Account?
                <a href="{% url 'NewUser' %}">New Account</a>
            </div>

            <div class="special" style="display: none;">{{pass}}</div>

        </form>
    </div>
</div>
{% endblock %}