{% extends 'Nav.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'login/Login.css' %}">{% endblock %}
{% block start %}
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-5 mt-5">
            <div class="glass-card text-center">
                <div class="row justify-content-start ps-2 pt-4">
                    <div class="col-3 rounded">
                        <a href="{% url 'LoginApp:account' %}" class="btn btn-outline-primary"><i
                                class="fa-solid fa-arrow-left-long"></i>Back</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                {% if pin %}
                <div class="p-5 pt-1">
                    <form method="post" action="{% url 'LoginApp:pin' %}" class="text-center ">
                        {% csrf_token %}
                        <h1 class="mb-3">InCol Pin</h1>
                        <input type="password" class="form-control w-75 mb-3 mx-auto rounded-4" name="pin"
                            placeholder="Enter Your InCol Pin" minlength="4" maxlength="6" required autofocus>
                        <button type="submit" class="btn btn-lg btn-info">Confirm</button>
                    </form>
                    <b>*Note: Your InCol Pin is a 6-digit number And used only to send money</b>
                </div>
                {% else %}
                <div class="p-5 pt-1">
                    <form method="post" action="{% url 'LoginApp:pin' %}" class="text-center ">
                        {% csrf_token %}
                        <h1 class="mb-3">InCol Pin</h1>
                        <input type="text" class="form-control rounded-4 w-75 mx-auto mb-3" name="setpin"
                            placeholder="Enter a 6-digit Pin" required autofocus minlength="4" maxlength="6">
                        <input type="text" class="form-control rounded-4 w-75 mx-auto mb-3" name="confirmpin"
                            placeholder="Re-enter 6-digit Pin" required minlength="6">
                        <button type="submit" class="btn btn-lg btn-info">Set Pin</button>
                    </form>
                    <b>*Note: Remember your InCol Pin for future use</b>
                </div>

                {% endif %}

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}