{% extends 'Nav.html'%}
   {% block start %}
   {% load static %}

   <link rel="stylesheet" href="{% static 'login/Statement.css' %}">
   
   <div id="main">
    <div id="h1">
        <h1>Bank Statement</h1>
    </div>
    
    {% if user.is_authenticated %}
    <table id="table" border="2px" align="center">
        <thead>
        <tr>
            <th>Account_no</th>
            <th>Balance_before</th>
            <th>Cash_flow</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>  
            {% for i in statement %}
                <tr>
                    <td>
                       {{i.acc_no}}
                    </td>
                    <td>
                        {{i.before_balance}}
                    </td>
                    <td>
                        {{i.cash_flow}}
                    </td>
                    <td>
                        {{i.detail}}
                    </td>
                </tr>
         
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
   </div>
   {% endblock %}