{% extends 'Nav.html'%}
{% block start %}
{% load static %}

<link rel="stylesheet" href="{% static 'login/Statement.css' %}">

<div class="container mt-5">
    <div class="glass-statement-container table-responsive">
        <h2 class="text-center mb-4">Bank Statement</h2>
        <div class="scroll">
            <table class="glass-table">
                <thead>
                    <tr>
                        <th>Account_no</th>
                        <th>Balance</th>
                        <th>Cash_flow</th>
                        <th>Details</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in statement %}
                    <tr>
                        <td>{{ item.acc_no.id|add:1201100 }}</td>
                        <td>₹{{ item.After_balance }}</td>
                        <td
                            class="{% if item.cash_flow < 0 %}text-danger fw-bold{% else %}text-success fw-bold{% endif %}">
                            {{ item.cash_flow }}
                        </td>
                        <td>{{ item.detail }}</td>
                        <td class="small">{{ item.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}