.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

button {
    border: none;
    outline: none;
    background-color: rgb(49, 249, 202);
    height: 60px;
    width: 250px;

    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 20px;

    text-shadow: 1px 1px 2px black;
    box-shadow: 2px 2px 2px black;

    border-radius: 8px;

}


footer {

    height: 75px;
    color: aliceblue;
    backdrop-filter: blur(10px);
}