.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

button {
    border: none;
    outline: none;
    background-color: rgb(49, 249, 202);
    height: 60px;
    width: 250px;

    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 20px;

    text-shadow: 1px 1px 2px black;
    box-shadow: 2px 2px 2px black;

    margin-top: 4px;
    transform: translate(0px, 130px);
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background-color: aqua;
    color: rgb(254, 66, 3);
    box-shadow: 2px 2px 2px navy;
}

.option {

    width: 500px;
    height: 500px;

    backdrop-filter: blur(40px);

    padding: 20px 0px 0px 0px;

    font-size: 40px;
    text-align: center;
    color: aliceblue;

    /* transform: translate(0px, 70px); */
    border-radius: 20px;
    border: 1px solid rgba(254, 253, 253, 0.7);

    /* box-shadow: 0px 0px 6px rgb(243, 240, 240); */
    text-shadow: 2px 2px 2px black;

    opacity: 0.8;
}

.option:hover {

    font-size: 40px;
    opacity: 0.9;
    transition: 1.5;
    backdrop-filter: blur(20px);
}

footer {

    height: 75px;
    color: aliceblue;
    backdrop-filter: blur(10px);
}