* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: peru;
}

#main{
    padding: 20px;
    height: 100%;
    width: 250px;
    text-align: center;
    background-color: blue;
}

#main #logo{
    font-size: 50px;
    font-weight: 200;
    user-select: none;
}

#main #items{
    font-size: 22px;
}

#items li a{
    color: aquamarine;
    text-decoration: none;
    }
