* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: url(1698042777565.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    height: 78px;
    padding: 4px 20px 0 20px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-shadow: 4px 3px 3px rgb(7, 66, 244);
    box-shadow: 1px 1px 1px rgba(0, 0, 255, .6);
    background: linear-gradient(aqua, rgb(35, 128, 128));
    opacity: .6;

}

.navbar::selection{
    user-select: none;
}
#acc{
    color: white;
    width: fit-content;
    font-size: 25px;
    position: relative;
    float: right;
    cursor: pointer;

}

#acc #welcome{
    width: inherit;
}

#acc #welcome:hover {
    text-decoration: underline;
}

#acc a {
    font-size: 15px;
    color: white; 
    text-decoration: none;
    position: absolute;

}

#acc a:hover{
    text-decoration: underline;
}
.navbar #acc #a{
        position: relative;
        top: 10px;
}
.navbar #acc h3 {
  position: relative;
  font-size: 15px;
  color: white;
  text-decoration: none;
  top: 20px;
}