* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: url(1698042777565.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.navbar::selection{
    user-select: none;
}
#acc{
    color: white;
    width: fit-content;
    font-size: 25px;
    position: relative;
    float: right;
    cursor: pointer;

}

#acc #welcome{
    width: inherit;
}

#acc #welcome:hover {
    text-decoration: underline;
}

#acc a {
    font-size: 15px;
    color: white; 
    text-decoration: none;
    position: absolute;

}

#acc a:hover{
    text-decoration: underline;
}
.navbar #acc #a{
        top: 10px;
}
.navbar #acc h3 {
  position: relative;
  font-size: 15px;
  color: white;
  text-decoration: none;
  top: 20px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px); /* Creates the frosted glass look */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.statement {
    background: rgba(0, 0, 0, 0.2);
    border: none !important; 
    margin-bottom: 12px !important;
    transition: transform 0.2s;

}

.statement:hover {
    transform: scale(1.02);
    border: 2px solid white !important;
}

.glass-btn-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    color: #0d6efd; 
    min-width: 140px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 2px ;
}


.card-link:hover .glass-btn-card {
    background:  rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-link {
    color: inherit;
    ;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}