* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 20%;
}

#main #container {
    background: transparent;
    backdrop-filter: blur(10px);
    max-height: 50vh;
    width: 400px;
    padding: 20px 35px 20px 35px;
    text-align: center;
    border: 1px solid wheat;
    border-radius: 20px;
    box-shadow: 3px 3px 5px cadetblue;
}

#main #container h1 {
    padding: 10px 5px 20px 5px;
}

h1::selection{
    user-select: none;
}

#container #input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 30px;
    margin: 10px 0px 15px 0px;
}

#input input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 30px;
    background: transparent;
    border: 1px solid white;
    
}

#Button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 30px;
    border: none;
    background-color: aqua;
    cursor: pointer;
}

#Button:hover {
    background: transparent;
    border: 2px solid wheat;
    color: white;
}

.special {
    border: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}