{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="{% static 'Nav.css' %}">
</head>

<body>
    <header class="navbar">
        InCol BANK.in

        {% if user.is_authenticated %}
        <div id="acc">
            <div id="welcome">Welcome: {{user.first_name}}</div>
            <a href= {{link}}>{{url}}</a>

            {% if pin %}
            <a id="a" href="{% url 'LoginApp:statement' %}?t=True">Your Statement</a>
            {% elif pin is None %}
            <a id="a" href="{% url 'LoginApp:pin' %}">Set your InCol pin</a>

            {% endif %}

        </div>
        {% endif %}
    </header>
       {% block start %}

       {% endblock %}
</body>

</html>