{% extends 'Nav.html'%}
{% block start %}
{% load static %}

<link rel="stylesheet" href="{% static 'open_acc.css' %}">
<script src="{% static 'open_Acc.js' %}"></script>

<div class="main">
    <div class="container">

        <form action="{% url 'NewUser' %}" method="post">
            {% csrf_token %}
            <h1>Open new Account</h1>

            <div class="input">
                <input type="text" name="User" required autofocus placeholder="User Name">
            </div>
            <div class="input">
                <input type="text" name="Mobile_no" required autofocus placeholder="Mobile No">
            </div>
            <div class="input">
                <input type="password" name="password" required autofocus placeholder="Password">
            </div>
            <div class="input">
                <input type="password" name="confirm_password" required autofocus placeholder="Comfirm Password">
            </div>

            <button type="submit" class="btn">Proceed</button>

            <div id="Some" style="display: hidden;">{{Account}}</div>
            <div id="special" style="display: hidden;">{{Acc_no}}</div>
        </form>

    </div>
</div>

{% endblock %}