{% extends 'Nav.html'%}
{% block start %}
{% load static %}
<link rel="stylesheet" href="{% static 'Pin.css' %}">
<div id="main">
    <div id="container">
        <form method="post" action="">
            {% csrf_token %}
            {% if pin == "None" %}

                <h1>Enter your InCol Pin</h1>
                <div id="input">
                    <input type="password" placeholder="Confirm pin" required name="Confirm_pin">
                </div>
                <button id="Button" type="submit"> Create</button>
                <div class="special">{{commit}}</div>

            {% elif pin is None %}

                <h1>Create Your InCol PIN</h1>
                <div id="input">
                    <input type="text" placeholder="Create pin" required name="Create_pin">
                </div>
                <div id="input">
                    <input type="password" placeholder="Confirm pin" required name="Confirm_pin">
                </div>
                <div id="input">
                    <input type="number" placeholder="Enter your mobile number" required name="Mobile_no">
                </div>
                <button id="Button" type="submit"> Create</button>
                <div class="special">{{commit}}</div>

            {% end if %}
        </form>

    </div>
</div>
{% endblock %}